.header{
  grid-area: h;
  background-color: rgb(224, 238, 224);
  position: sticky;
}

.header  img{
  width: 80px;
}
.loginBlock{
  float: right;
  display: flex;
}
.loginBlock div  {
  width: 320px ;

  display: flex;
}

.loginBlock span  {
  font-size: 20px;
  font-weight: 700;
}

.loginBlock a{
    width: 150px;
    height: 30px;
    border: 1px solid;
    background: gold  ;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.loginBlock  button{
    width: 50%;
    height: 30px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}


@media only screen and (max-width: 414) {
  body {
    background-color: lightblue;
  }
} 