

.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItem a{
    padding: 10px;
    text-decoration: none;
}

.dialog a.active{
    color: rgb(229, 255, 0);
}

.messages{

}

.message{

}